/*===== RESET ==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*===== VARIABLES ==========================*/
:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;

  /* fonts */
  --title-font-size: 5rem;
  --body-font: 'Manrope', sans-serif;
}

/*===== BASE ==========================*/
html{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body {
  font: 1rem var(--body-font);
  color: var(--text-color);
  background: var(--backgrond);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

/*===== BUTTONS ==========================*/
.button{
  border: 1px solid var(--button);
  font-size: 0.7rem;
  font-weight: 800;
  color: var(--text-color);
  padding: 0.7rem 2.3rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover{
  transform: scale(1.05);
  background: var(--button);
}

.button.mobile{
  opacity: 0;
  visibility: hidden;
}

/*===== MAIN ==========================*/

main{
  text-align: center;
  height: 100%;
}

.container.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-mobile{
  opacity: 0;
  visibility: hidden;
}

.principalTitle{
  font-size: var(--title-font-size);
  margin-top: 2.5rem;
}

.principalTitle span{
  color: black;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#coffee{
  position: absolute;
  bottom: 0;
  max-width: 44.5rem;
  max-height: 44.5rem;
  width: auto;
  height: auto;
}

/*===== NAVIGATION ==========================*/
header{
  padding: 10px 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.5rem;
}

.navList {
  display: flex;
  gap: 2rem; 
  font-size: 1rem;
}

.navList a{
  color: var(--text-color)
}

nav ul li {
  text-align: center;
  cursor: pointer;
}

nav ul li a{
  transition: all 0.3s;
}

nav ul li a:hover{
  color: var(--button);
}

.toggle{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.logo.mobile {
  opacity: 0;
  position: absolute;
  visibility: hidden; 
}

/*===== BLUR ==========================*/
.css-blurry-gradient-1 {
  position: fixed;
  bottom: -28%;
  left: 6%;
  width: 600px;
  height: 600px;
  border-radius: 50% 50% 50% 50%;
  filter: blur(100px);
  background: #996DFF;
  filter: blur(300px);
  opacity: 0.5;
  z-index: -2;
}

.css-blurry-gradient-2 {
  position: fixed;
  top: -28%;
  right: 6%;
  width: 600px;
  height: 600px;
  border-radius: 50% 50% 50% 50%;
  filter: blur(100px);
  background: #996DFF;
  filter: blur(300px);
  opacity: 0.5;
  z-index: -2;
}

/*===== RESPONSIVIDADE ==========================*/
@media (max-width: 675px){
  header {
    /* border-bottom: 1px solid #29292E; */
    background: black;
    position: sticky;
    top:0;
    padding: 10px 20px;
  }
  
  nav .menu {
    opacity: 0;
    visibility: hidden;
  }

  /* --- Buttons --- */
  .button.mobile{
    margin-top: 5.5rem;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button.mobile span{
    line-height: 0;
    margin-left: 10px;
  }
  .button.header{
    opacity: 0;
    visibility: hidden;
  }

  /*--- Main ---*/

  .text-mobile{
    opacity: 1;
    visibility: visible;
    font-size:1.875rem;
    margin-top: 2.5rem;
    padding: 1rem;
    font-weight: 600;
  }

  .principalTitle{
    font-size:2rem;
    margin-top: 6.125rem;
    margin-bottom: 2rem;
  }

  .toggle.icon-menu{
    opacity:1;
    visibility: visible;
    right:2.5rem;
  }

  #coffee{
    position: static; 
    max-width: 23.75rem;
    max-height: 20.75rem;
  }

  /* --- Logo --- */
  .logo.desktop {
    opacity: 0;
    visibility: hidden; 
  }

  .logo.mobile {
    opacity: 1;
    visibility: visible; 
  }

  /* --- Menu Mobile ---*/

  nav.show .logo.mobile{
    position: absolute;
    z-index: 5;
  }

  nav.show .menu{
    opacity: 1;
    visibility: visible;
    background: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav.show .navList{
    gap:0;
  }

  nav.show .menu ul{
    display:flex; 
    flex-direction: column;  
    margin-top: 5.5rem;     
  }
  
  nav.show .menu ul li:nth-child(1){
    border-top: 1px solid #29292E;
    border-bottom: 1px solid #29292E;
  }

  nav.show .menu ul li{
    border-bottom: 1px solid #29292E;
    text-align: left;
    padding: 15px 30px;
  }

  nav.show .menu ul li:hover{
    border-left: 5px solid var(--button)
  }

  nav.show ul li a {
    color: var(--text-color-menu-mobile);
    font-size: 1.2rem;
  }

  nav.show ul li a:hover{
    color:var(--button)
  }

  nav.show div.icon-close{
    visibility: visible;
    opacity: 1;
    right:1.5rem;
  }

  nav.show div.icon-menu{
    visibility: hidden;
    opacity: 0;
  }

  /* --- Blur --- */

  .css-blurry-gradient-2{
    visibility: hidden;
    opacity: 0;
  }

  .css-blurry-gradient-1{
    bottom: -50%;
    left: -25%;
    filter: blur(126px);
    opacity: 0.5;
  }
}

@media (max-height: 750px) and (min-width: 675px){ 
  html{
    overflow-x: scroll
  }
  .principalTitle {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  #coffee {
    max-width: 33.5rem;
    max-height: 44.5rem;
    width:auto;
    height:auto;
  }
}

@media (max-height: 580px) and (min-width: 675px){ 
  .principalTitle {
    margin-top: -2.5rem;
  }
}

@media (max-height: 540px) and (min-width: 675px){
  .principalTitle {
    font-size: 3rem;
  }
  #coffee {
    max-width: 30.5rem;
    max-height: 44.5rem;
  }
}

@media (max-height: 540px) and (min-width: 675px){
  .principalTitle {
    margin-top: -4rem;
    font-size: 3rem;
  }
  #coffee {
    max-width: 24.5rem;
  }
}

@media (max-height: 400px) and (min-width: 675px){
  .principalTitle {
    margin-top: -5rem;
    font-size: 2rem;
  }
  #coffee {
    max-width: 24.5rem;
  }
}